<% content_for :title, t(".heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <p class="govuk-hint"><%= t(".bullet_list") %></p>
    <ul class="govuk-list govuk-list--bullet govuk-hint">
      <% t(".bullets").each do |str| %>
        <li><%= str %></li>
      <% end %>
    </ul>

    <%= form_for form,
        url: admin_enrollment_exemptions_path,
        method: :get,
        as: :search,
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-three-quarters">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-half">
                <%= f.govuk_text_field :q,
                    label: { text: t(".search_label"), style: "display:none" },
                    width: 20,
                    id: "search",
                    placeholder: t(:search) %>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <%= f.govuk_collection_select :status,
                    form.status_filter_options,
                    ->(key) { key },
                    ->(key) { t(key, scope: "admin.status_label") },
                    options: { include_blank: true },
                    width: 20,
                    inline: true,
                    label: { text: t(".select_label"), style: "display:none" } %>
              </div>
              <div class="govuk-grid-column-one-quarter">
                <%= f.govuk_submit t(".search_button") %>
              </div>
            </div>
          </div>
        </div>

    <% end %>

    <br/>
    <br/>

    <% if enrollment_exemptions.present? %>
      <table class="govuk-table" aria-label="<%= t(".table_description") %>">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header"><%= t(".table_headings.state") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".table_headings.submitted_at") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".table_headings.reference_number") %></th>
            <th scope="col" class="govuk-table__header"><%= t(".table_headings.code") %></th>
            <th scope="col" class="govuk-table__header" colspan="2"><%= t(".table_headings.organisation_name") %></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% enrollment_exemptions.each_enrollment_exemption do |ee| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-table__header"><%= ee.status_tag_without_popup %></td>
              <td class="govuk-table__cell"><%= ee.submitted_at || ee.created_at %></td>
              <td class="govuk-table__cell"><%= ee.reference_number %></td>
              <td class="govuk-table__cell"><%= ee.code %></td>
              <td class="govuk-table__cell"><%= ee.organisation_name %></td>
              <td class="govuk-table__cell"><%= link_to(t(".show"), [:admin, ee], class: "btn btn-primary") %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class="govuk-body">
        <%= paginate enrollment_exemptions %>
      </div>
    <% end %>
  </div>
</div>
