<% @page_title = t(".title", reference: @enrollment_exemption.reference_number) %>

<h1 class="govuk-heading-l"><%= @page_title %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.operator") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.organisation_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.exemption_code") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.code %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.status") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.status_tag %>
        </dd>
      </div>
    </dl>

    <%= form_for @enrollment_exemption,
        url: admin_enrollment_exemption_deregister_index_path(@enrollment_exemption),
        html: { method: :post },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "flood_risk_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_select :deregister_reason,
          @deregister_reasons.collect{|r| [r.to_s.humanize, r]},
          label: { text: t(".deregister_reason") } %>

       <%= f.govuk_text_area :comment_content,
           label: { text: t(".comment_content") },
           max_chars: 500  %>

        <%= f.govuk_submit t(".submit") %>
    <% end %>

    <p class="govuk-body">
      <%= link_to t("cancel_go_back"), [:admin, @enrollment_exemption] %>
    </p>
  </div>
</div>
