<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <h1><%= t('.title', reference: form.reference_number) %></h1>

      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading panel-title">
              <%= t(".panel_title") %>
            </div>

            <div class="panel-body">
              <%= simple_form_for form,
                                  url: admin_enrollment_exemption_deregister_index_path(form.enrollment_exemption),
                                  html: { method: :post } do |f| %>
                <div class="table-responsive">
                  <table class="table table-bordered">
                    <tbody>
                        <tr>
                          <th class="col-md-2"><%= t(".table_headings.operator") %></th>
                          <td class="col-md-10"><%= "Someone" %></td>
                        </tr>
                        <tr>
                          <th class="col-md-2"><%= t(".table_headings.exemption_code") %></th>
                          <td class="col-md-10"><%= form.exemption.code %></td>
                        </tr>
                        <tr>
                          <th class="col-md-2"><%= t(".table_headings.status") %></th>
                          <td class="col-md-10">
                            <%= form.status_tag %>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-md-4">
                  <%= f.input(
                      :status,
                      collection: form.statuses,
                      include_blank: t(".status_selection_blank")
                    )
                  %>
                </div>
                <div class="col-md-8">
                  <%= f.input :comment, as: :text %>
                  <span>
                    <%= t(".comment_clarification", max: form.comment_max_length) %>
                  </span>
                </div>

                <%= f.button :submit, t(".submit"), class: 'btn btn-danger' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= link_to glyphicon_tag(:triangle_left, text: t("cancel_go_back")),
                  [:admin, form.enrollment_exemption],
                  class: "ignore-visited" %>
    </div>
  </div>
</div>
