<% @page_title = t("devise.resend_unlock_instructions") %>

<%= render("shared/back", back_path: new_user_session_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @page_title %></h1>

    <p class="govuk-body"><%= t(".subtitle1") %></p>

    <p class="govuk-body"><%= t(".subtitle2") %></p>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <div class="govuk-grid-row">
        <div class="govuk-form-group govuk-grid-column-one-half">
          <%= f.label :email, class: "govuk-label"%>
          <%= f.email_field :email, class: "govuk-input" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit t("devise.resend_unlock_instructions"),
                     class: "govuk-button",
                     data: { disable_with: t('please_wait_html') } %>
      </div>
    <% end %>
  </div>
</div>
