
  <div class="panel panel-default actions">
    <div class="panel-heading panel-title">
      <%= glyphicon_tag :cog, text: t('.title') %>
    </div>
    <div class="panel-body">
      <% if policy(enrollment).edit? %>
        <p>
          <%= link_to t(".edit_enrollment"),
                      edit_admin_enrollment_path(enrollment),
                      id: "edit-enrollment",
                      class: "btn btn-primary",
                      role: 'button' %>
        </p>
      <% end %>
      <% if policy(enrollment).deregister? %>
        <p>
          <%= link_to t(".deregister_enrollment"),
                      new_admin_enrollment_deregistration_path(enrollment),
                      id: "deregister-enrollment",
                      class: "btn btn-danger",
                      role: 'button' %>
        </p>
      <% end %>

      <% if policy(enrollment).resume? %>
        <p>
          <%= link_to t(".resume_enrollment"),
                      resume_admin_enrollment_path(enrollment),
                      id: "resume-enrollment",
                      class: "btn btn-primary",
                      role: 'button' %>
        </p>
      <% end %>

       <% if policy(enrollment).edit? %>
        <p>
          <%= link_to t(".change_assistance_mode"),
                      edit_admin_enrollment_assistance_path(enrollment),
                      class: "btn btn-default",
                      role: 'button' %>
        </p>
      <% end %>
    </div>
  </div>
