<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        <div class="row">
          <div class="col-xs-11">
            <%= glyphicon_tag :list_alt, text: t('.title') %>
          </div>
          <div class="col-xs-1 text-right"><%= open_close_tag 'exemption-details' %></div>
        </div>
      </div>
      <div class="panel-body collapse <%= ' in' if flash[:updated_enrollment_exemption_id].present? %>"
           id="exemption-details">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr><%= raw t('.table_headings').map { |th| content_tag(:th, th) }.join %></tr>
            </thead>
            <tbody>
              <%= render collection: presenter.sorted_enrollment_exemptions,
                         partial: "admin/enrollments/show/ee",
                         as: :ee %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
