<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        <div class="row">
          <div class="col-xs-11">
            <%= glyphicon_tag :file, text: t('.title') %>
          </div>
          <div class="col-xs-1 text-right">
            <%= open_close_tag 'registration-details', true %>
          </div>
        </div>
      </div>

      <div class="panel-body collapse in" id="registration-details">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#registration"
               aria-controls="home"
               role="tab"
               data-toggle="tab">
                <%= t '.registration_tab.title' %>
            </a>
          </li>
          <li role="presentation">
            <a href="#business-type"
               aria-controls="home"
               role="tab"
               data-toggle="tab">
                <%= t '.organisation_tab.title' %>
            </a>
          </li>
        </ul>

        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="registration">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td><%= t '.registration_tab.ref_number' %></td>
                    <td><%= presenter.reference_number %></td>
                  </tr>

                  <tr>
                    <td><%= t '.registration_tab.assistance_mode' %></td>
                    <td><%= presenter.assistance_tag %></td>
                  </tr>

                  <tr>
                    <td><%= t '.registration_tab.status' %></td>
                    <td><%= presenter.status_tag %></td>
                  </tr>

                  <tr>
                    <td><%= t '.registration_tab.submitted_at' %></td>
                    <td><%= presenter.submitted_at %></td>
                  </tr>

                  <% if presenter.deregistered_comment.present? %>
                    <tr>
                      <td><%= t '.registration_tab.deregistered_comment' %></td>
                      <td><%= presenter.deregistered_comment %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <%= render 'admin/enrollments/show/organisation_tab',
                      enrollment: enrollment,
                      organisation_type: enrollment.organisation.try(:type_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
