<header>
  <h1><%= page_title t("devise.change_password") %></h1>
</header>
<br/>

<%= simple_form_for(resource,
                    as: resource_name,
                    url: user_password_path,
                    html: { method: :patch, autocomplete: 'off' }) do |f| %>
  <%= full_devise_error_messages! %>

  <%= f.input :reset_password_token, as: :hidden %>

  <%-
    password_length = User.try :password_length
    hint = t("devise.minimum_password_length", count: password_length.min) if password_length && f.object.errors[:password].empty?
  -%>
  <%= f.input :password,
              label: t("devise.new_password"),
              required: true,
              autofocus: true,
              hint: hint,
              input_html: { autocomplete: 'off' } %>
  <%= f.input :password_confirmation,
              label: t("devise.confirm_new_password"),
              required: true,
              input_html: { autocomplete: 'off' } %>

  <%= f.button :submit, t('devise.change_password'),
                        data: { disable_with: t('please_wait_html') } %>
<% end %>

<%= render "/shared/devise_links" %>
