<% @page_title = t("devise.forgot_password") %>

<%= render("shared/back", back_path: new_user_session_path) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @page_title %></h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

      <%= full_devise_error_messages! %>

      <div class="govuk-grid-row">
        <div class="govuk-form-group govuk-grid-column-one-half">
          <%= f.label :email, t(".subtitle"), class: "govuk-label"%>
          <%= f.email_field :email, class: "govuk-input" %>
        </div>
      </div>

      <%= f.submit t("devise.send_password_reset_instructions"), class: "govuk-button",
                    data: { disable_with: t('please_wait_html') } %>

    <% end %>

    <span class="govuk-body">
      <%= render "/shared/devise_links" %>
    </span>
  </div>
</div>
