<% page_title = t(".heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
    <%= form_for @address,
                 url: enrollment_address_path(@enrollment, @address),
                 builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "flood_risk_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_text_field :premises, label: { text: t(".premises") } %>
      <%= f.govuk_text_field :street_address, label: { text: t(".street_address") } %>
      <%= f.govuk_text_field :locality, label: { text: t(".locality") } %>
      <%= f.govuk_text_field :city, label: { text: t(".city") } %>
      <%= f.govuk_text_field :postcode, label: { text: t(".postcode") } %>
      <%= f.govuk_submit t("global.continue")  %>

    <% end %>

    <p class="govuk-body">
      <%= link_to t("cancel_go_back"), admin_enrollment_exemption_path(@enrollment_exemption)  %>
    </p>
  </div>
</div>

