<% @page_title = t(".title", reference: @enrollment_exemption.reference_number) %>

<h1 class="govuk-heading-l"><%= @page_title %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.operator") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.organisation_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.exemption_code") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.code %>
        </dd>
      </div>
    </dl>

    <%= form_for @enrollment_exemption,
        url: admin_enrollment_exemption_approve_index_path(@enrollment_exemption),
        html: { method: :post },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= render partial: "flood_risk_engine/shared/error_summary", locals: { f: f } %>

      <%= f.govuk_fieldset legend: { text: t(".screening_comment"), class: "govuk-label" } do %>
        <%= f.govuk_check_box :asset_found,
            true,
            small: true,
            multiple: false,
            label: { text: t(".asset_found") } %>

        <%= f.govuk_check_box :salmonid_river_found,
            true,
            small: true,
            multiple: false,
            label: { text: t(".salmonid_river_found") } %>
      <% end %>

     <hr>

      <%= f.govuk_text_area :comment_content,
         label: { text: t(".comment_content") },
         max_chars: 500  %>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <%= t(".sub_heading") %>
        </strong>
      </div>

        <%= f.govuk_submit t(".submit") %>
    <% end %>

    <p class="govuk-body">
      <%= link_to t("cancel_go_back"), [:admin, @enrollment_exemption] %>
    </p>
  </div>
</div>
