<% content_for :title, t("devise.invitations.new.header") %>

<h1 class="govuk-heading-l"><%= t("devise.invitations.new.header") %></h1>

<%= form_for resource,
             as: resource_name,
             url: user_invitation_path,
             html: { method: :post},
             builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

  <%= full_devise_error_messages! %>

  <%= f.govuk_text_field :email,
      width: "one-half",
      label: { text: t(".email_address") },
      placeholder: t(".enter_an_email") %>

  <%= f.govuk_select :assigned_role,
       t("allowed_roles").map(&:reverse).sort.collect{ |role| [role[0], role[1]] },
       label: { text: t(".role") },
       options: { prompt: t(".select_assigned_role") } %>

  <%= f.govuk_submit t(".submit_button") %>

<% end %>

<p class="govuk-body">
  <%= link_to t("cancel_go_back"), admin_users_path %>
</p>
