<% @page_title = t("devise.sign_in") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @page_title %></h1>

    <%= form_for(
        resource,
        as: resource_name,
        url: session_path(resource_name),
        html: { autocomplete: "off" },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |f| %>

      <%= f.govuk_text_field :email, width: "one-half" %>
      <%= f.govuk_password_field :password,
                                 autocomplete: :off,
                                 width: "one-half" %>

      <%= f.submit t("devise.sign_in"),
                   class: "govuk-button",
                   data: { disable_with: t('please_wait_html') } %>

    <% end %>

    <span class="govuk-body">
      <%= render "/shared/devise_links" %>
    </span>
  </div>
</div>
