<%= render(
      "flood_risk_engine/enrollments/header",
      title_text: t(".heading")
    )
%>
<%= render "flood_risk_engine/enrollments/validation_errors", form: form %>

<%= simple_form_for(
      form,
      as: :address,
      url: enrollment_partner_path(form.enrollment, form.partner),
      class: "form"
    ) do |f| %>

  <%= render "form", f: f %>

<% end %>

<p>
  <%= link_to(
        t("cancel_go_back"),
        admin_enrollment_exemption_path(form.enrollment_exemption),
        class: "ignore-visited"
      )
  %>
</p>

