<%= form_for @enrollment_export,
    url: admin_enrollment_exports_path,
    html: { method: :post },
    builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

  <h2 class="govuk-caption-m"><%= t ".date_range_legend" %></h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_date_field :from_date,
          legend: { size: "s", text: t(".from_date") } %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= f.govuk_date_field :to_date,
          legend: { size: "s", text: t(".to_date") } %>
    </div>
  </div>

 <%= f.govuk_collection_radio_buttons :date_field_scope,
    EnrollmentExport.date_field_scopes,
    ->(option) { option[0] },
    ->(option) { option[0].to_s.humanize },
    inline: true,
    small: true,
    legend: { size: "s", text:  t(".date_field_to_compare_against") } %>

  <%= f.govuk_submit t(".submit") %>
<% end %>
