<% @page_title = t(".heading") %>

<h1 class="govuk-heading-l"><%= @page_title %></h1>

<%= render "form" %>

<% if @exports.except(:limit, :offset).any? %>
  <hr/>
  <h2 class="govuk-heading-m">
    <%= t ".heading_secondary" %>
    <span class="govuk-body"><%= link_to t(:refresh), url_for %></span>
  </h2>

  <table class="govuk-table" aria-label="<%= t(".heading_secondary") %>">
    <thead class=""govuk-table__head>
      <tr class="govuk-table__row">
        <% t(".table_headings").each do |table_heading| %>
          <th class="govuk-table__header" scope="col">
            <%= table_heading %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <%= render @exports %>
    </tbody>
  </table>
<% end %>

<div class="govuk-body"><%= paginate @exports %></div>
