<table class="govuk-table" id="comment-history">
  <caption class="govuk-table__caption govuk-table__caption--m">
    <%= t('.title') %>
  </caption>

  <tbody class="govuk-table__body">
    <% comments.each do |comment| %>
      <% element_id = "comment-#{comment.id}" %>
      <% heading_id = "#{element_id}-heading" %>
      <% expanded = comment == comments.first %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-body-s govuk-!-width-one-third"><%= comment.event %></th>
        <td class="govuk-table__cell govuk-body-s"><%= comment.content %></td>
        <td class="govuk-table__cell govuk-body-s">
          <%= comment.created_at.to_s(:long) %>
          <br/>
          <%= comment.user.try(:email) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
