<div id="correspondence-contact-details" class="govuk-!-padding-bottom-2">
  <h2 class="govuk-heading-m"><%= t ".contact_header" %></h2>

  <% contact = presenter.correspondence_contact %>
  <p><%= contact.full_name %></p>

  <% if contact.position? %>
    <p><%= t('.position') %> <%= contact.position %></p>
  <% end %>

  <% if contact.email_address? %>
    <p><%= mail_to contact.email_address %></p>
  <% end %>

  <% if contact.telephone_number? %>
    <p><%= link_to(contact.telephone_number, "tel:#{contact.telephone_number.gsub(/[^0-9]/, '')}") %></p>
  <% end %>

  <%= link_to t(".edit"), edit_enrollment_correspondence_contact_path(presenter.enrollment, contact) %>
</div>

<hr>

<% secondary_contact = presenter.secondary_contact %>

<div id="secondary-contact-details" class="govuk-!-padding-top-2 govuk-!-padding-bottom-2">
  <h2 class="govuk-heading-m"><%= t('.secondary_contact.title') %></h2>
  <% if secondary_contact.email_address.present? %>
    <p><%= mail_to secondary_contact.email_address %></p>

    <%= link_to t(".edit"), edit_enrollment_secondary_contact_path(presenter.enrollment, secondary_contact) %>

  <% else %>
    <%= link_to t(".add"), edit_enrollment_secondary_contact_path(presenter.enrollment, secondary_contact) %>
  <% end %>
</div>
