<%= content_tag_for :tr, ee,
                    class: ('highlight-fade-out' if flash[:updated_enrollment_exemption_id] == ee.id) do %>
  <td><%= ee.exemption_code_tag %></td>
  <td><%= ee.exemption_summary %></td>
  <td><%= ee.expires_at || t(".not_applicable") %></td>
  <td><%= ee.status_tag %></td>
  <td>
    <% if policy(ee).deregister? %>
      <%= link_to(t(:deregister), edit_deregister_admin_enrollment_exemption_path(ee),
                  class: 'btn btn-danger btn-sm') if ee.active? %>
    <% end %>
  </td>
<% end %>
