<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        <div class="row">
          <div class="col-xs-11">
            <%= glyphicon_tag :file, text: t('.title') %>
          </div>
        </div>
      </div>

      <div class="panel-body" id="registration-details">
        <div class="table-responsive">
          <table class="table table-bordered ee-show-main-table">
            <tbody>
            <% presenter.registration_and_operator_data.each do |header, value| %>
              <tr>
                <td class="ee-show-main-table-header-td"><%= header %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading panel-title">
        <div class="row">
          <div class="col-xs-11">
            <%= glyphicon_tag :file, text: t('.exemption_panel.title') %>
          </div>
        </div>
      </div>

      <div class="panel-body" id="exemption-details">
        <div class="row">
          <div class="col-xs-11">
            <span><%= t('.exemption_panel.status') %></span>
            <%= presenter.status_tag %>
            <br/>
          </div>
        </div>
        <br/>

        <div class="table-responsive">
          <table class="table table-bordered ee-show-main-table">
            <tbody>
            <% presenter.exemption_data.each do |header, value| %>
              <tr>
                <td class="ee-show-main-table-header-td"><%= header %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
