<table class="govuk-table" id="registration-details">
  <caption class="govuk-table__caption govuk-table__caption--m">
    <%= t(".title") %>
  </caption>

  <tbody class="govuk-table__body">
    <% presenter.registration_and_operator_data.each do |header, value| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= header %></th>
        <td class="govuk-table__cell"><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">
    <%= t(".exemption_panel.title") %>
  </caption>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header"><%= t('.exemption_panel.status') %></th>
      <td class="govuk-table__cell"><%= presenter.status_tag_without_popup %></td>
    </tr>

    <% presenter.exemption_data.each do |header, value| %>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header"><%= header %></th>
        <td class="govuk-table__cell"><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
