<tr class="govuk-table__row" id="user_<%= user.id %>">
  <td class="govuk-table__cell"><%= user.email %></td>
  <td class="govuk-table__cell"><%= user.roles.map { |r| t(r.name, scope: "allowed_roles") }.join("<br/>").html_safe %></td>
  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <% if user.invitation_accepted? %>
      <%= [t(".invitation_accepted_at"),
                   l(user.invitation_accepted_at, format: :long)].join(": <br/>").html_safe %>
    <% elsif user.invited_to_sign_up? %>
      <%= [t(".invitation_sent_at"),
                   l(user.invitation_sent_at, format: :long)].join(": <br/>").html_safe %>
    <% else %>
      <%= t(".not_invited") %>
    <% end %>
  </td>

  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <% if user.enabled? %>
      <%= t(".enabled") %>
    <% else %>
      <%= [t(".disabled_at"),
                   l(user.disabled_at, format: :long)].join(": <br/>").html_safe if user.disabled_at %>
      <%= [t(".disabled_comment"),
                    simple_format(user.disabled_comment)].join(":").html_safe if user.disabled_comment? %>
    <% end %>
  </td>

  <td class="govuk-table__cell">
    <% if policy(user).edit? && user != current_user %>
      <%= link_to t("edit"), edit_admin_user_path(user) %>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <% if user.disabled? && policy(user).enable? %>
      <%= link_to t(".enable"),
                  admin_user_edit_enable_path(user) %>

    <% elsif policy(user).disable? %>
      <%= link_to t(".disable"),
                  admin_user_edit_disable_path(user) %>
    <% end %>
  </td>
</tr>
