<% content_for :title, t(".title", email: @user.email) %>

<h1 class="govuk-heading-l">
  <%= t(".title", email: @user.email) %>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for [:admin, @user],
        url: admin_user_enable_path,
        html: { method: :patch },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <p class="govuk-body"><%= t(".prompt") %></p>

      <%= f.govuk_submit t(".submit") %>
    <% end %>
  </div>
</div>

<p class="govuk-body">
  <%= link_to t("cancel_go_back"), admin_users_path %>
</p>
