<h1 class="govuk-heading-l">
  <%= t('.title') %>
  <span class="govuk-caption-m"><%= @user.email %></span>
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= form_for [:admin, @user],
        url: admin_user_disable_path,
        html: { method: :patch },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= f.govuk_text_area :disabled_comment,
          label: { text: t(".comments") },
          width: "one-half",
          placeholder: t(".disabled_comment"),
          max_chars: 500 %>

      <%= f.govuk_submit t(".title") %>
    <% end %>
  </div>
</div>

<p class="govuk-body">
  <%= link_to t("cancel_go_back"), admin_users_path %>
</p>
