<% enrollment = result.enrollment %>
<% presenter = EnrollmentPresenter.new(e, self) %>

<%= content_tag_for :div, e, class: 'panel panel-default' do %>
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="h4">
          <%= link_to(presenter.organisation_name, admin_enrollment_path(e)) %>
        </h2>
      </div>
      <div class="col-xs-6">
        <div class="text-right">
          <h4>
            <% if enrollment.reference_number %>
              <span class="label label-default">
                #<%= enrollment.reference_number %>
              </span>
            <% end %>
            <%= presenter.status_tag %>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <ul class="list-group">
   <li class="list-group-item">
      <dl class="dl-horizontal">
        <dt><%= t '.site_address_label' %></dt>
        <dd>
          <% if enrollment.site_address %>
            <% if enrollment.site_address.postcode? %>
              <%= render(
                    partial: 'shared/display_address_single_line',
                    locals: { address: enrollment.site_address }
                  )
              %>
            <% else %>
              <%= enrollment.site_address.grid_reference %>
            <% end %>
          <% end %>
        </dd>

        <dt><%= t '.applicant_label' %></dt>
        <dd>
          <%= enrollment.applicant_contact.try :full_name %>
          <span class="text-muted">
            <%= enrollment.applicant_contact.try :email_address %>
          </span>
        </dd>

        <dt><%= t '.correspondence_label' %></dt>
        <dd>
          <%= enrollment.correspondence_contact.try :full_name %>
          <span class="text-muted">
            <%= enrollment.correspondence_contact.try :email_address %>
          </span>
        </dd>

        <% if enrollment.organisation.is_a? WasteExemptionsShared::OrganisationType::Partnership %>
          <dt><%= t '.partner_label' %></dt>
          <dd>
            <%= enrollment.organisation.partner_contacts.map(&:full_name).join(", ") %>
          </dd>
        <% end %>
      </dl>
    </li>
  </ul>
<% end %>
