<% content_for(:page_title1) { t('.heading') } %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-9">
      <h1><%= t('.heading') %></h1>
      <%= render "admin/enrollments/show/main", presenter: @presenter, enrollment: @enrollment %>
      <%= render "admin/enrollments/show/exemptions", presenter: @presenter %>
      <%= render "admin/enrollments/show/site", enrollment: @enrollment %>
    </div>

    <div class="col-xs-12 col-sm-3">
      <h2><%= t ".contact_header" %></h2>
      <%= render "admin/enrollments/show/correspondant", enrollment: @enrollment %>
      <%= render "admin/enrollments/show/applicant", enrollment: @enrollment %>
      <%= render "admin/enrollments/show/actions", enrollment: @enrollment %>
    </div>
  </div>
</div>
