<% content_for :title, t(".title", reference: @enrollment_exemption.reference_number) %>

<h1 class="govuk-heading-l"><%= t(".title", reference: @enrollment_exemption.reference_number) %></h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.operator") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.organisation_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(".table_headings.exemption_code") %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @enrollment_exemption_presenter.code %>
        </dd>
      </div>
    </dl>

    <%= form_for @enrollment_exemption,
        url: admin_enrollment_exemption_in_progress_index_path(@enrollment_exemption),
        html: { method: :post },
        builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>

      <%= f.govuk_submit t(".submit") %>
    <% end %>

    <p class="govuk-body">
      <%= link_to t("cancel_go_back"), [:admin, @enrollment_exemption] %>
    </p>
  </div>
</div>
