<%- content_for :head do -%>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "back_office", media: "all" %>
  <%= javascript_include_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
<%- end -%>

<%-
  # Disable Google Analytics, until we have know that
  # value to set for the environment-variable "GOVUK_APP_DOMAIN"
  content_for :exclude_analytics, true

  content_for :app_home_path, main_app.root_path
  content_for :app_title, t('.title')
  page_title t('.title')
-%>

<%- content_for :body_start do %>
  <div class="flood_risk_engine">
<% end %>

<%- content_for :body_end do %>
  </div>
<% end %>

<%- content_for :content do %>
  <%= render "shared/flash_alerts" %>
  <%= content_tag :div, yield %>
<% end -%>

<%#= render template: 'layouts/govuk_admin_template' %>
